body {
    background-color: #efefef;
}

.str-header {
    border-bottom: 3px solid #4c5c68;
    margin-bottom: 1.25rem;
    padding-bottom: 0.625rem;
}

.str-header .x-first img {
    margin-top: 1.25rem;
}

.str-header .x-last {
    text-align: right;
}

.str-header .x-last .x-main-title {
    font-weight: 100;
    text-transform: uppercase;
    color: #46494c;
    margin-bottom: 0;
}

.str-header .x-last .x-sub-title {
    font-weight: 300;
    color: #46494c;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 0.875rem;
}

.str-hero {
    margin-bottom: 1.25rem;
}

.str-articles .x-featured-title {
    font-weight: 100;
    color: #00aeef;
    margin-left: 1.25rem;
    font-size: 2rem;
}

.str-articles .x-img-wrapper {
    max-height: 9.375rem;
    overflow: hidden;
}

.str-article .x-content {
    text-align: center;
}

.str-article .x-content .x-article-title {
    color: #4c5c68;
    font-weight: 300;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.str-article .x-content .x-article-link {
    color: #46494c;
    font-weight: 100;
    font-size: 1.25rem;
}

.str-article .x-content .x-article-link:hover {
    color: #4c5c68;
}

.str-modal .x-modal-title {
    text-transform: uppercase;
    color: #00aeef;
    font-weight: 300;
}

.str-modal .x-modal-text {
    color: #46494c;
}
